@import "./vars";
$mainColor: #83ba4b;
$green: #83ba49;
$textColor: #5f686f;
$monserrat: 'Montserrat', sans-serif;
$text: #707070;
/* mini-hardened-page */

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

.mini-hardened-page {
	& .welcome_global__wrap {
		& .welcome_global__box {
			width: 65%;
		}
	}
}

.question-block {
	padding-top: 60px;
	margin-bottom: 146px;

	@media (max-width: $md3+px) {
		margin-bottom: 60px;
		padding-top: 25px;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__text {
		margin: 0 auto 55px;
		max-width: 1320px;
		color: $textColor;
		font-family: $monserrat;
		font-size: 30px;
		font-weight: 500;
		line-height: 1.333em;

		@media (max-width: $md3+px) {
			font-size: 20px;
			margin-bottom: 15px;
		}

		& p {
			color: $textColor;
			font-family: $monserrat;
			font-size: 30px;
			font-weight: 500;
			line-height: 1.333em;
			margin-bottom: 1em;

			@media (max-width: $md3+px) {
				font-size: 20px;
			}
		}
	}

	&__list {
		text-align: center;
		color: $textColor;
		font-family: $monserrat;
		font-size: 26px;
		font-weight: 400;
		line-height: 1.307em;
		max-width: 797px;
		margin: 0 auto 78px;

		@media (max-width: $md3+px) {
			font-size: 18px;
			margin-bottom: 50px;
		}

		& > li {
			margin-bottom: 18px;
		}
	}

	&__group-btn {
		display: flex;
		justify-content: center;
		padding-top: 40px;
	}

	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-height: 35px;
		min-width: 94px;
		cursor: pointer;
		background-color: $mainColor;
		color: #fff;
		font-family: $monserrat;
		font-size: 24px;
		font-weight: 700;
		margin: 0 45px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		@media (max-width: $md3+px) {
			margin: 0 25px;
		}

		@media (min-width: 992px) {
			&:hover {
				transform: translateY(-5px);
			}
		}

		&._is-checked {
			background-color: #f69728;
		}

		& input[type="radio"] {
			display: none;
		}
	}

	&__submit {
		align-self: center;
		text-transform: uppercase;
		font-size: 30px;
	}
}

.quiz-video-block {
	background-color: #f0f5f8;
	padding: 121px 0 97px;

	@media (max-width: $md3+px) {
		padding: 60px 0 60px;
	}

	&__text {
		margin: 0 auto 55px;
		max-width: 1320px;
		color: $textColor;
		font-family: $monserrat;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.5em;

		@media (max-width: $md3+px) {
			margin-bottom: 25px;
			font-size: 18px;
		}

		& p {
			color: $textColor;
			font-family: $monserrat;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.5em;
			margin-bottom: 1em;

			@media (max-width: $md3+px) {
				font-size: 18px;
			}
		}
	}

	&__poster-wrap {
		width: 100%;
		max-width: 1406px;
		margin: 0 auto;
	}

	&__poster {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		background-color: #c4c4c4;

		& img, & iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& .play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			margin: 0;
		}
	}
}

/* auiz-popup*/
body.lock {
	overflow: hidden;
}

.quiz-popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#e5e5eb, 0.8);
	z-index: 100;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .quiz-popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;

		@media (max-width: $md3+px) {
			padding: 15px;
		}
	}

	&_content {
		background: #fff;
		max-width: 980px;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
		padding: 68px 30px 46px;
		box-sizing: border-box;
		color: #414042;
		font-family: $monserrat;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.666em;
		text-align: center;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $md3+px) {
			font-size: 20px;
			padding: 40px 15px 30px;
		}
		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 3px;
		cursor: pointer;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#e5e5eb, 0.8);
			}
		}

		& > span {
			display: block;
			position: relative;
			height: 14px;
			width: 14px;
			transform: rotate(45deg);

			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 50%;
				width: 1px;
				transform: translate(-50%, 0);
				height: 100%;
				background-color: $textColor;
			}
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				transform: translate(0, -50%);
				background-color: $textColor;
			}
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 62px 0;
		color: #fff;
		width: 100%;

		@media (max-width: $md3+px) {
			padding: 30px 0;
		}
	}
	&__rating-num {
		flex: 0 0 54px;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		background-color: $mainColor;
		margin-right: 24px;
	}
	&__rating-text {
		font-weight: 700;
		color: $mainColor;
	}
	&__btn {
		display: inline-flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		background-color: $mainColor;
		min-height: 48px;
		width: 100%;
		max-width: 302px;
		padding: 8px 25px;
		transition: all 0.3s ease;
		color: #fff;
		font-family: $monserrat;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.25em;
		text-transform: uppercase;
		margin: 32px 0;
		text-decoration: none;

		@media (min-width: 992px) {
			&:hover {
				transform: translateY(-5px);
				color: #fff; 
			}
		}
	}

	&__renouncement {
		display: inline-block;
		color: #8b8b8b;
		font-family: $monserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.25em;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s ease;
		margin-bottom: 15px;

		@media (min-width: 992px) {
			&:hover {
				color: $mainColor;
			}
		}
	}
}

.quiz-social {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: $md4+px) {
		flex-direction: column;
	}

	&__text {
		white-space: nowrap;
		color: #414042;
		font-family: $monserrat;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.25em;
		margin-right: 13px;
		text-transform: none;
	}

	&__list {
		list-style: none;
		display: flex;
		align-items: center;

		& > li {
			&:not(:last-child) {
				margin-right: 12px;
			}
		}
	}

	&__icon {
		height: 20px;
		cursor: pointer;
		transition: all .3s ease;
		display: inline-block;

		@media (min-width: 992px) {
			&:hover {
				transform: translateY(-5px);
			}
		}

		& svg {
			height: 100%;
			width: 18px;
			fill: $mainColor;
		}
	}
}

/* and auiz-popup*/

/* and mini-hardened-page */

@import 'pages/#quiz';